## Working with Dates and Time series data

In [1]:
import pandas as pd

df = pd.read_csv("date_time_series_data.csv")
df

                   Date  Symbol    Open    High     Low   Close      Volume
0      2020-03-13 08-PM  ETHUSD  129.94  131.82  126.87  128.71  1940673.93
1      2020-03-13 07-PM  ETHUSD  119.51  132.02  117.10  129.94  7579741.09
2      2020-03-13 06-PM  ETHUSD  124.47  124.85  115.50  119.51  4898735.81
3      2020-03-13 05-PM  ETHUSD  124.08  127.42  121.63  124.47  2753450.92
4      2020-03-13 04-PM  ETHUSD  124.85  129.51  120.17  124.08  4461424.71
...                 ...     ...     ...     ...     ...     ...         ...
23669  2017-07-01 03-PM  ETHUSD  265.74  272.74  265.00  272.57  1500282.55
23670  2017-07-01 02-PM  ETHUSD  268.79  269.90  265.00  265.74  1702536.85
23671  2017-07-01 01-PM  ETHUSD  274.83  274.93  265.00  268.79  3010787.99
23672  2017-07-01 12-PM  ETHUSD  275.01  275.01  271.00  274.83   824362.87
23673  2017-07-01 11-AM  ETHUSD  279.98  279.99  272.10  275.01   679358.87

[23674 rows x 7 columns]

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23674 entries, 0 to 23673
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    23674 non-null  object
 1   Symbol  23674 non-null  object
 2   Open    23674 non-null  float64
 3   High    23674 non-null  float64
 4   Low     23674 non-null  float64
 5   Close   23674 non-null  float64
 6   Volume  23674 non-null  float64
dtypes: float64(5), object(2)
memory usage: 1.1+ MB

In [3]:
# We need to convert Date from str format to datetime object/format
# using pd.to_datetime() function

# We need to specify the format of dates currently in str format

# Format can be looked up in documentation

df['Date'] = pd.to_datetime(df['Date'],format="%Y-%m-%d %I-%p")

In [4]:
df['Date']

0       2020-03-13 20:00:00
1       2020-03-13 19:00:00
2       2020-03-13 18:00:00
3       2020-03-13 17:00:00
4       2020-03-13 16:00:00
                ...
23669   2017-07-01 15:00:00
23670   2017-07-01 14:00:00
23671   2017-07-01 13:00:00
23672   2017-07-01 12:00:00
23673   2017-07-01 11:00:00
Name: Date, Length: 23674, dtype: datetime64[ns]

In [5]:
# day_name() function is used to get the day on a particular date
df.loc[0,'Date'].day_name()

'Friday'

In [6]:
type(df.loc[0,'Date'])

pandas._libs.tslibs.timestamps.Timestamp

In [7]:
df

                     Date  Symbol    Open    High     Low   Close      Volume
0     2020-03-13 20:00:00  ETHUSD  129.94  131.82  126.87  128.71  1940673.93
1     2020-03-13 19:00:00  ETHUSD  119.51  132.02  117.10  129.94  7579741.09
2     2020-03-13 18:00:00  ETHUSD  124.47  124.85  115.50  119.51  4898735.81
3     2020-03-13 17:00:00  ETHUSD  124.08  127.42  121.63  124.47  2753450.92
4     2020-03-13 16:00:00  ETHUSD  124.85  129.51  120.17  124.08  4461424.71
...                   ...     ...     ...     ...     ...     ...         ...
23669 2017-07-01 15:00:00  ETHUSD  265.74  272.74  265.00  272.57  1500282.55
23670 2017-07-01 14:00:00  ETHUSD  268.79  269.90  265.00  265.74  1702536.85
23671 2017-07-01 13:00:00  ETHUSD  274.83  274.93  265.00  268.79  3010787.99
23672 2017-07-01 12:00:00  ETHUSD  275.01  275.01  271.00  274.83   824362.87
23673 2017-07-01 11:00:00  ETHUSD  279.98  279.99  272.10  275.01   679358.87

[23674 rows x 7 columns]

In [8]:
df['Week_day'] = df['Date'].dt.day_name()
df

,Date,Symbol,Open,High,Low,Close,Volume,Week_day
0,2020-03-13 20:00:00,ETHUSD,129.94,131.82,126.87,128.71,1940673.93,Friday
1,2020-03-13 19:00:00,ETHUSD,119.51,132.02,117.10,129.94,7579741.09,Friday
2,2020-03-13 18:00:00,ETHUSD,124.47,124.85,115.50,119.51,4898735.81,Friday
3,2020-03-13 17:00:00,ETHUSD,124.08,127.42,121.63,124.47,2753450.92,Friday
4,2020-03-13 16:00:00,ETHUSD,124.85,129.51,120.17,124.08,4461424.71,Friday
...,...,...,...,...,...,...,...,...
23669,2017-07-01 15:00:00,ETHUSD,265.74,272.74,265.00,272.57,1500282.55,Saturday
23670,2017-07-01 14:00:00,ETHUSD,268.79,269.90,265.00,265.74,1702536.85,Saturday
23671,2017-07-01 13:00:00,ETHUSD,274.83,274.93,265.00,268.79,3010787.99,Saturday
23672,2017-07-01 12:00:00,ETHUSD,275.01,275.01,271.00,274.83,824362.87,Saturday
23673,2017-07-01 11:00:00,ETHUSD,279.98,279.99,272.10,275.01,679358.87,Saturday

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23674 entries, 0 to 23673
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Date      23674 non-null  datetime64[ns]
 1   Symbol    23674 non-null  object
 2   Open      23674 non-null  float64
 3   High      23674 non-null  float64
 4   Low       23674 non-null  float64
 5   Close     23674 non-null  float64
 6   Volume    23674 non-null  float64
 7   Week_day  23674 non-null  object
dtypes: datetime64[ns](1), float64(5), object(2)
memory usage: 1.3+ MB

In [10]:
type(df['Date'])

pandas.core.series.Series

In [11]:
# Most previous (min) date
df['Date'].min()

Timestamp('2017-07-01 11:00:00')

In [12]:
# Latest date in the data (max)
df['Date'].max()

Timestamp('2020-03-13 20:00:00')

In [13]:
# Time interval between any two given dates
pd.to_datetime('2021-04-05 10-PM',format='%Y-%m-%d %I-%p') - pd.to_datetime('2017-04-17 01-AM',format='%Y-%m-%d %I-%p')

Timedelta('1449 days 21:00:00')

In [14]:
# Filter data to get data between any two given dates
filt = (df['Date']>=pd.to_datetime('2018',format="%Y")) & (df['Date']<pd.to_datetime('2020',format="%Y"))
df.loc[filt]

,Date,Symbol,Open,High,Low,Close,Volume,Week_day
1749,2019-12-31 23:00:00,ETHUSD,128.33,128.69,128.14,128.54,440678.91,Tuesday
1750,2019-12-31 22:00:00,ETHUSD,128.38,128.69,127.95,128.33,554646.02,Tuesday
1751,2019-12-31 21:00:00,ETHUSD,127.86,128.43,127.72,128.38,350155.69,Tuesday
1752,2019-12-31 20:00:00,ETHUSD,127.84,128.34,127.71,127.86,428183.38,Tuesday
1753,2019-12-31 19:00:00,ETHUSD,128.69,128.69,127.60,127.84,1169847.84,Tuesday
...,...,...,...,...,...,...,...,...
19264,2018-01-01 04:00:00,ETHUSD,739.70,748.07,733.02,747.90,3180304.69,Monday
19265,2018-01-01 03:00:00,ETHUSD,730.01,739.70,728.66,739.70,3461348.11,Monday
19266,2018-01-01 02:00:00,ETHUSD,730.02,730.50,727.14,730.01,2950627.37,Monday
19267,2018-01-01 01:00:00,ETHUSD,734.59,735.10,730.01,730.02,1886624.01,Monday
19268,2018-01-01 00:00:00,ETHUSD,741.27,741.27,733.69,734.59,2697546.48,Monday

In [18]:
# We want all the data for Jan and Feb 2020
filt = (df['Date']>=pd.to_datetime('2020-01-01 12-AM',format="%Y-%m-%d %I-%p")) & (df['Date']<=pd.to_datetime('2020-02-29 11-PM',format="%Y-%m-%d %I-%p"))
jf20_df = df.loc[filt]
jf20_df

,Date,Symbol,Open,High,Low,Close,Volume,Week_day
309,2020-02-29 23:00:00,ETHUSD,223.35,223.58,216.83,217.31,1927939.88,Saturday
310,2020-02-29 22:00:00,ETHUSD,223.48,223.59,222.14,223.35,535998.57,Saturday
311,2020-02-29 21:00:00,ETHUSD,224.63,225.14,222.74,223.48,561158.03,Saturday
312,2020-02-29 20:00:00,ETHUSD,225.31,225.33,223.50,224.63,511648.65,Saturday
313,2020-02-29 19:00:00,ETHUSD,225.09,225.85,223.87,225.31,1250856.20,Saturday
...,...,...,...,...,...,...,...,...
1744,2020-01-01 04:00:00,ETHUSD,129.57,130.00,129.50,129.56,702786.82,Wednesday
1745,2020-01-01 03:00:00,ETHUSD,130.37,130.44,129.38,129.57,496704.23,Wednesday
1746,2020-01-01 02:00:00,ETHUSD,130.14,130.50,129.91,130.37,396315.72,Wednesday
1747,2020-01-01 01:00:00,ETHUSD,128.34,130.14,128.32,130.14,635419.40,Wednesday
1748,2020-01-01 00:00:00,ETHUSD,128.54,128.54,128.12,128.34,245119.91,Wednesday

In [19]:
jf20_df['Close'].mean()

195.1655902777778

In [22]:
# Resampling
# Currently, the data is measured every hour (sampled on hourly basis)
# Suppose we want to resample it on daily basis
# e.g. Get the high value of each day, i.e., maximum of all the hourly
# values of that day.
# Use resample() function
# Refer documentation for date/day/hour/etc formats.

# ** To do this, the index should be in datetime format
df.set_index('Date',inplace=True)
df['High'].resample('D').max()

Date
2017-07-01    279.99
2017-07-02    293.73
2017-07-03    285.00
2017-07-04    282.83
2017-07-05    274.97
               ...
2020-03-09    208.65
2020-03-10    206.28
2020-03-11    202.98
2020-03-12    195.64
2020-03-13    148.00
Freq: D, Name: High, Length: 987, dtype: float64

In [23]:
# Sample every week
# Use 'W'
df['High'].resample('W').max()

Date
2017-07-02    293.73
2017-07-09    285.00
2017-07-16    240.33
2017-07-23    249.40
2017-07-30    229.99
               ...
2020-02-16    290.00
2020-02-23    287.13
2020-03-01    278.13
2020-03-08    253.01
2020-03-15    208.65
Freq: W-SUN, Name: High, Length: 142, dtype: float64

In [25]:
# Applying resampling to entire dataframe
# Use agg() function

df.resample('D').agg({
    'Open': 'mean',
    'Close': 'mean',
    'High': 'max',
    'Low': 'min',
    'Volume': 'sum'
})

                  Open       Close    High     Low        Volume
Date
2017-07-01  266.581538  265.284615  279.99  253.23  2.858402e+07
2017-07-02  268.870833  269.782500  293.73  255.70  5.226229e+07
2017-07-03  279.241667  278.882083  285.00  273.07  3.501635e+07
2017-07-04  277.042083  276.743333  282.83  265.00  3.010991e+07
2017-07-05  265.147917  265.025833  274.97  252.67  4.315016e+07
...                ...         ...     ...     ...           ...
2020-03-09  200.680417  200.818333  208.65  189.85  9.131404e+07
2020-03-10  201.672083  201.577500  206.28  195.17  3.727352e+07
2020-03-11  196.155833  195.910417  202.98  181.00  4.547683e+07
2020-03-12  156.276250  152.763333  195.64  101.22  1.800737e+08
2020-03-13  123.183810  124.060476  148.00   90.00  1.442618e+08

[987 rows x 5 columns]